# Bonus: Temperature Analysis I

In [67]:
import pandas as pd
from datetime import datetime as dt

In [68]:
# "tobs" is "temperature observations"
df = pd.read_csv('../Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [69]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')

### Compare June and December data across all years

In [70]:
# Filter data for desired months
df['month'] = df['date'].dt.month
december = df.loc[df['month']== 12]
june = df.loc[df['month']==6]

In [78]:
# Identify the average temperature for June
june_station_group = june.groupby('station')
june_df = june_station_group.mean()
clean_june = june_df.drop(columns=['prcp'])
clean_june

                  tobs  month
station
USC00511918  74.139394    6.0
USC00513117  74.050847    6.0
USC00514830  76.005376    6.0
USC00516128  71.937220    6.0
USC00517948  76.655405    6.0
USC00518838  73.394737    6.0
USC00519281  73.271186    6.0
USC00519397  77.559322    6.0
USC00519523  76.668103    6.0

In [79]:
# Identify the average temperature for December
dec_station_group = december.groupby('station')
dec_df = dec_station_group.mean()
clean_dec = dec_df.drop(columns=['prcp'])
clean_dec

                  tobs  month
station
USC00511918  69.684211   12.0
USC00513117  71.069444   12.0
USC00514830  73.224719   12.0
USC00516128  69.291262   12.0
USC00517948  71.834862   12.0
USC00518838  72.421053   12.0
USC00519281  69.903226   12.0
USC00519397  71.109524   12.0
USC00519523  72.433333   12.0

In [80]:
# Run paired t-test- use an paired t-test b/c the locations are different for each station

from scipy import stats as sts
from scipy.stats import ttest_rel
ttest_rel(clean_dec, clean_june)

Ttest_relResult(statistic=array([-6.95696617,         inf]), pvalue=array([0.00011759, 0.        ]))

### Analysis

Because the p-value is less than 0.05, there is a statistically significant difference between Hawaii's temperatures in June and the temperatures in December. The p-value is positive meaning the average temperature in June is higher than the average temperature in December.